{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}

{% include 'tabs.html' with active='reglas' %}

<main class="content">
    <br/>
    <p class="stage-note">
      - Si atinas ganador o empate: 3 puntos
    </p>
    <br/>
    <p class="stage-note">
      - Si atinas diferencia de goles: 1 punto extra (excepto en empates)
    </p>
    <br/>
    <p class="stage-note">
      - Resultado exacto: 5 puntos totales si hay ganador y 4 puntos totales si es empate
    </p>
    <br/>
    <p class="stage-note">
      - En play offs se considerará el marcador sin penales (goles en tiempos extras sí cuentan)
    </p>

</main>

{% endblock %}
