{% extends "base.html" %}

{% block content %}
<form class="form-body" action="" method="post" novalidate>
    {% csrf_token %}
    <h1 class="login-title"><span>⚽</span>sanginiela</h1>
    <div class="inputs-layout" >
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            <br>
            {% for error in form.email.errors %}
            <span style="color: #c86b52;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <p class="login-submit">
        <input type="submit" value="Entrar">
    </p>
</form>
{% endblock %}
